body {
    background: radial-gradient(circle at top left, #122a33 0, #050509 45%, #050509 100%);
    color: #F5f7ff;
    margin: 0px auto;


    font-family: "Open Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-variation-settings: "wdth" 90;

    min-height: 100vh;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

/* Main page Section*/
.page {
    min-width: 1000px;
    max-width: 1200px;
    margin: 0 auto;
    padding: 1.5em 0em 2em;
}

main {
    margin-right: 60px;
}

/* Logo Section*/
.logo {
    display: flex;
    align-items: center;
    gap: 8px;
}

.pcb-mark {
    border: 1px solid #0cfac69a;
    border-radius: 10px;

    width: 64px;
    height: 64px;
    background: linear-gradient(135deg, #0cfac69a, #0c1c22);
    box-shadow: 0px 0px 25px #0cfac69a;

    text-align: center;
    align-items: center;
    justify-content: center;
    display: flex;
}

.chip-mark {
    background: #050509;
    width: 32px;
    height: 32px;

    display: flex;
    align-items: center;
    justify-content: center;

    position: relative;
}

.chip-mark::after,
.chip-mark::before {
    content: "";
    position: absolute;
    pointer-events: none;
    border: 1px dotted white;
}

.chip-mark::after
{
    left: 5px;
    right: 5px;
    top: 0;
    bottom: 0;
    border-left: none;
    border-right: none;
}
.chip-mark::before {
  top: 5px;
  bottom: 5px;
  left: 0;
  right: 0;
  border-top: none;
  border-bottom: none;
}

.chip-mark .name-tag {
    font-family: "Orbitron", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
}

.logo-text {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.logo-text .name {
    font-size: 1.25rem;
    font-weight: 600;
}

.logo-text .who {
    font-size: 0.8rem;
    color: #90b1be;
}

/* Navigation Menu */
nav ul li {
    display: flex;
    padding: 0px 0px;
}

nav ul li a {
    color: #dcfcfd;
    text-decoration-line: none;
    border: 1px solid #364146;
    background-color: #0c1c22;
    padding: 10px 25px;
    margin: 10px 0px;
    border-radius: 50px;
    box-shadow: 0px 0px 8px #364146;
    width: 300px;
}

nav ul li a i {
    margin-right: 10px;
}

nav ul li a:hover {
    background-color: #1bcee6;
    box-shadow: 0px 0px 20px #00ffdd;
    border: 1px solid #1bcee6;
    color: black;
}

/* Article Section */
article {
    background-color: #0c1c22;
    border: 1px solid grey;
    border-color: #253233;
    border-radius: 25px;
    padding: 5px 20px;
    color: #dcfcfd;
}

article h2 {
    color: white;
    margin: 5px 0px;
}

article h3 {
    color: rgb(69, 100, 102);
    font-weight: 500;
    font-size: 16px;
    margin: 5px 0px;
}

article p {
    margin: 8px 5px;
}

article ul li {
    margin: 6px 0px;
}

article ul li strong {
    color: white;
}

article .oval-tag p {
    border: 1px solid #404d4e;
    border-radius: 50px;
    display: inline-block;
    text-align: center;
    padding: 3px 15px;
    background-color: #16353f;
    font-size: 13px;
}

article .oval-tag i {
    padding: 2px 5px;
}

/* Email links adjusment */
.article3 .oval-tag a {
    text-decoration-line: none;
    color: #dcfcfd;
}

/* Avatar Section */
.article-avatar p {
    color: #c7c7cf;
}
.article-avatar h2 {
    text-align: center;
}
.article-avatar img {
    border-radius: 50%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    padding: 15px 0px;
}

.article-avatar .oval-tag-avatar p {
    border: 1px solid #404d4e;
    border-radius: 50px;
    text-align: center;
    color: #c7c7cf;
    padding: 1px 10px;
    display: inline-block;
    font-size: 13px;
}

.article-avatar .oval-tag-avatar i {
    padding: 3px 5px;
}

/* Footer Section */
footer {
    left: 0;
    bottom: 0;
    background-color: #0e2229;
    font-size: 0.75rem;
    color: grey;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-top: 1px solid #364146;
    height: 50px;
}

footer a {
    color: grey;
    padding: 0 5px;
    font-size: 16px;
}

footer .right {
    padding: 0 50px;
}

footer .left {
    padding: 0 25px;
}

.grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-columns: 60% 40%;
    grid-template-rows: auto auto auto;
    gap: 25px;
    max-width: 100%;
}

main {
    grid-column: 1;
    grid-row: 1;
}

.item-2 {
    grid-column: 2;
    grid-row: 1;
}

.item-3 {
    grid-column: 1;
    grid-row: 2;
}

.item-4 {
    grid-column: 2;
    grid-row: 2;
}

.item-5 {
    grid-column: 1 /span 2;
    grid-row: 3;
}

.item-6 {
    grid-column: 1 /span 2;
    grid-row: 4;
    
}